@model Sistema_BookHub_Online.Models.pedidos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_pedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo_libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo_libro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_editorial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_empleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_sucursal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_Pedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
