@model IEnumerable<Sistema_BookHub_Online.Models.pedidos>

@{
    ViewData["Title"] = "Index";
    Layout = "layoutu";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo_libro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_pedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo_libro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_editorial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_empleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_sucursal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_Pedido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_Pedido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_Pedido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
