@model Sistema_BookHub_Online.Models.libros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>libros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.año_publicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.año_publicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ejemplares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ejemplares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_Editorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_Editorial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_Libros">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
